@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

[x-cloak] {
    display: none;
}

/* .img_back {
    background-image: url(/public/signature.png);
    background-repeat: no-repeat;
    background-size: cover;
} */